@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.errorMsg {
  font-size: 18px;
  color: #ff0000;
  max-width: 400px;
  margin-left: 12px;
}

label {
  font-weight: 500;
  font-size: 20px;
  color: black;
}

label span {
  color: red;
}

input {
  width: 450px;
  margin-top: 8px;
  outline: none !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  color: #626262 !important;
  padding: 16px !important;
  border-radius: 12px !important;
  border: 1px solid #e7e7e7 !important;
}

input:disabled {
  box-shadow: 0px 0px 8px 0px #ff00007a;
  border: 1px solid #ff0000;
  background: #ff00000f;
}

.form-card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 16px;
}
